@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

a:not([class]) {
  text-decoration: initial;
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

:root {
  /* font sizes */
  --size-5: clamp(2.6438rem, 2.4439rem + 1.1423vi, 3.8147rem);
  --size-4: clamp(2.2032rem, 2.0583rem + 0.8279vi, 3.0518rem);
  --size-3: clamp(1.836rem, 1.7326rem + 0.5906vi, 2.4414rem);
  --size-2: clamp(1.53rem, 1.4578rem + 0.4128vi, 1.9531rem);
  --size-1: clamp(1.275rem, 1.2259rem + 0.2805vi, 1.5625rem);
  --size-0: clamp(1.0625rem, 1.0305rem + 0.1829vi, 1.25rem);
  --size--2: clamp(0.7378rem, 0.7272rem + 0.0606vi, 0.8rem);
  --size--1: clamp(0.8854rem, 0.8659rem + 0.1118vi, 1rem);
  --size--3: clamp(0.6149rem, 0.6106rem + 0.0245vi, 0.64rem);

  --background-color: 0 0% 100%;
  --heading-color: 0 0% 0%;
  --description-color: 220 8.9% 46.1%;
  --faded-description-color: 220 14.3% 90%;
  --accent-color: 220.9 39.3% 11%;
  --terciary-color: 220 13% 91%;
  --border-radius: 10px;

  --inner-stack-spacing: 0.6em;
}

.test {
  /* description */
  color: hsl(220 8.9% 46%.1);
  /* faded description */
  color: hsl(220 14.3% 95.9%);
  /* accent color */
  color: hsl(220.9 39.3% 11%);
  /* border color */
  color: hsl(220 13% 91%);
}

h1 {
  font-size: var(--size-3);
  font-weight: 700;
}

h2 {
  font-size: var(--size-2);
  font-weight: 600;
}

h3 {
  font-size: var(--size-1);
  font-weight: 500;
}
p {
  color: hsl(var(--description-color));
  font-weight: 300;
  font-size: var(--size--1);
  opacity: 0.9;
}

html {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

@media print {
  html {
    font-size: 8.8pt;
    font-family: "Inter", sans-serif;
  }

  p {
    opacity: 1;
  }
}
